<!DOCTYPE html>
<html>
    <head><meta charset="utf-8">
        <link rel="icon" href="icone.jpg" />
        <link rel="stylesheet" href="css/styles.css">
        <title>esp32s3-cam-server</title>
    </head>
    <body>        
        <h1>Welcome to esp32s3-cam-server</h1>
        <form action="http://192.168.4.1/server" method="post">
            <label for="s1">ESP32S3-CAM-SERVER :</label>
            <input type ="text" id="s1" name="s1" value="Write something here"/><br/>
            <button><b1>Send</b1></button>
        </form>
    </body>
</html>
