<!DOCTYPE html>
<html>
    <head><meta charset="utf-8">
        <link rel="icon" type="image/png" href="images/icone.jpg" />
        <link rel="stylesheet" href="css/styles.css">
        <title>Drone-Display-Server</title>
    </head>
    <body>
        <div>
            <h1></h1>
            <img src="images/icone.jpg" alt="drone_picture" width="360" height="240" class="center image_border">
        </div>   
        <div class= "zone1">
            <p class="center_video">Video Display</p>        
        </div>
        <form action="http://192.168.4.1/" method="post">
            <button class="center margin-top"><b1>START VIDEO</b1></button>
        </form>
        <script src="scripts/main.js"></script>
    </body>
</html>
